<% layout('layouts/boilerplate') %>
<h4>Tu dolje napiši što želiš odlučiti</h4>
<form action="/odgovor" method="POST">
<textarea class="input" name="question" type="text"></textarea>

<div class="inputs">
<label for="answerType">Koji tip odgovora želiš:</label>

<select name="answerType" id="answerType">
  <option value="yesNo">Da/Ne</option>
  <option value="person">Neka osoba</option>
  <option value="place">Mjesto</option>
  <option value="event">Događaj</option>
</select>

<button>Daj mi odgovor</button>
</div>
</form>
