<% layout('layouts/boilerplate') %>
<h2 id="title">
    Donositelj odluka</h2>
<div class="section">
    <div class="container d-flex justify-content-center">
        <div> <h1>Sad čemo donijeti neku odluku</h1>
            <h3>Prvo reci dali želiš donijeti odluku ili ne?</h3>
            <p>Ako želiš stisni tu dole gumb da, ako ne stisni onda gumb ne</p></div>
       
       
    </div>
    <div style="display: flex;
        justify-content: center;
        align-items: center;
        "><a href="/da"><button>DA</button></a><a href="/PAZASTOONDA"><button>NE</button></a></div>
    
</div>