body {
    background-image: url('/imgs/background.jpg');
    background-size: contain;
 color: white;
}

.input {
    width: 50%;
    height: 20vh;
    opacity: 0.7;
    display: block;
    margin: 0 auto;
}

.section {
    background: black;
    opacity: 0.8;
}

#title, h4 {
    text-align: center;
    margin: 10% 0;
    font-size: 36px;
    background: black;
    opacity: 0.8;
} 

h3 {
    text-align: center;
    font-size: 36px;
    background: black;
    opacity: 0.8;
}
.inputs {
    display: flex;
    justify-content: center;
}

#list > li {
    background: black;
    opacity: 0.8;
    text-align: center;
    border-bottom: 1px solid white;
    list-style: none;
    font-size: xx-large;
}

.input-choice-group {
    display: flex;
    justify-content: center;

}

#get-answer, #ipak {
    padding: 20px;
    margin: 0 auto;
    margin-top: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


/* Start css for popup input */

*{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;


}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}



/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* End css for popup input */